<div>
  <button type="button" class="btn btn-outline-success" routerLink="/candidats">Retour aux Candidats</button>
  <button type="button" class="btn btn-primary btn-lg float-right" routerLink="/vote">Accéder au Vote</button>
</div>

<div class="clearfix"></div>
<br/>
<br/>

<div>

  <div class="candidat-detail-head">
    <div class="d-flex align-items-center">
      <div class="float-left">
      <img class="rounded-picture" src="../assets/lassalle.jpg"/>
      </div>
      <div class="float-left">
        <h2>Jean Lassalle</h2>
        <h5>Sans Étiquette</h5>
        <em class="text-muted">65 ans, député des Pyrénées Orientales</em>
      </div>
    </div>
    <br/>
    <br/>
    <blockquote class="blockquote">
      <em> <h4 class="text-primary">Pour une France qui pète ( woaw )!</h4></em>
    </blockquote>
  </div>

  <div class="candidat-detail-programm">
    <h5>Mon Programme <button type="button" class="btn btn-outline-primary btn-sm">Télécharger</button></h5>

    <p>J’ai décidé de me présenter à l’élection prési- dentielle car je veux redonner à chaque Fran- çaise et chaque Français confiance en eux, confiance en la France et dans notre capacité collective à relever nos défis. Ce faisant, nous redonnerons à l’Europe et au reste du monde confiance en notre pays.
        Depuis plus de trente ans, nous ne parve- nons pas à régler le problème du chômage de masse ni celui de l’intégration.
        Des transformations radicales nouvelles bouleversent nos vies et nos certitudes. La révolution numérique change nos manières de produire, de consommer et de vivre en- semble.
        Le changement climatique nous oblige à re- penser notre organisation et nos modes de vie. Le nouvel ordre mondial nous impose un terrorisme djihadiste qui a frappé notre pays ces dernières années, tandis que des puis- sances régionales autoritaires émergent et que notre allié américain semble réviser les bases de sa diplomatie.
        Mais le repli sur nous-mêmes, le refus de voir le monde tel qu’il est ou la volonté de re- dresser la France malgré elle ne sont pas des solutions. Ils ignorent ses ressorts profonds et le sens de notre destin. Le projet que je vous propose, c’est de bâtir avec vous une France nouvelle, qui innove, recherche, crée et vit, une France de prospérité retrouvée et de progrès pour chacun. Qui redeviendra le fer de lance d’un projet européen qui lui ressemble. Une France qui libère, pour ne plus être bloquée par des règles devenues obsolètes. Et en même temps une France qui répare les injustices de départ et protège chaque citoyen afin de le mettre en capacité de réussir sa vie.
        Pour renouer avec l’esprit de conquête fran- çais, je veux passer avec vous un contrat de droits, de devoirs, et de responsabilités.
        Si vous me faites confiance, je n’entends pas, en tant que président, intervenir sur tout et partout. Je sais aussi qu’il nous est impossible de tout prévoir et que des circonstances ex- ceptionnelles pourront nous conduire à adap- ter nos priorités.
        On trouvera dans les pages qui suivent le contenu de notre projet, celui qui sera mis en œuvre par le futur gouvernement. Mais je veux auprès de vous prendre des engage- ments clairs sur les chantiers essentiels pour l’avenir de notre pays. Ce sont ces mêmes en- gagements que je demanderai au gouverne- ment comme à l’ensemble des parlementaires qui constitueront la majorité présidentielle.
        Le premier chantier sera celui de l’éducation et de la culture. C’est la condition de notre cohésion nationale. C’est pourquoi je veux remettre la transmission des savoirs fondamentaux, de notre culture et de nos valeurs au cœur du projet de notre école et de nos universités.
        Le deuxième chantier sera celui de la société du travail. Dès le début du quinquennat, je demanderai au gouverne- ment de simplifier le droit, de réformer l’as- surance chômage pour en faire un droit</p>
  </div>

</div>

<div class="clearfix"></div>

<br/>
<br/>
<br/>

<h5>Liste Électorale</h5>

<table class="table">
  <tbody>
    <tr>
      <td>photo</td>
      <td>membre de liste 1</td>
      <td>Age</td>
      <td>description</td>
    </tr>
    <tr>
      <td>photo</td>
      <td>membre de liste 2</td>
      <td>Age</td>
      <td>description</td>
    </tr>
    <tr>
      <td>photo</td>
      <td>membre de liste 3</td>
      <td>Age</td>
      <td>description</td>
    </tr>
    <tr>
      <td>photo</td>
      <td>membre de liste 4</td>
      <td>Age</td>
      <td>description</td>
    </tr>
  </tbody>
</table>
