<button type="button" class="btn btn-outline-success" routerLink="/candidats">Retour aux Candidats</button>

<h1>Portail de Vote</h1>
<hr/>
<p>Attention, vous vous apprêtez à voter parmis les candidats de la liste ci-dessous. Assurez vous d'utiliser un navigateur
supportant le module Metamask, et connectez-vous à votre compte. Cela nous permet de vous identifier de manière sécurisée.</p>
<p>Aucun retour en arrière n'est possible, assurez vous de votre choix lors du clique, votre vote est définitif</p>
